/* Media Queries */
/* Large desktop */
@media (min-width: 960px) {
	.container {
		width:960px;
	}
	nav {
		display:block;
		position:fixed;
	}
	nav ul {
		padding:15px 0;
	}
}
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 959px) {
	.container {
		width:768px;
	}
	nav {
		display:block;
		position:fixed;
	}
	nav ul {
		padding:15px 0;
	}
}
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
	.container {
		width:96%;
	}
	nav {}
}
 
/* Landscape phones and down */
@media (max-width: 480px) {
	.container {
		width:96%;
	}
	nav {}
}