/* Media Queries */
/* Large desktop */
@media (min-width: 1200px) {
	.container {
		width:1200px;
	}
	nav {}
}
@media (min-width: 980px) and (max-width: 1199px) {
	.container {
		width:980px;
	}
	nav {}
}
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
	.container {
		width:768px;
	}
	nav {}
}
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
	.container {
		width:96%;
	}
	nav {}
}
 
/* Landscape phones and down */
@media (max-width: 480px) {
	.container {
		width:96%;
	}
	nav {}
}