/* RESET */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed,  figure, figcaption, footer, header, hgroup,  menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* SEATTLE JS */
body {
	font-family:helvetica, arial, sans-serif;
}
strong {
	font-weight:600;
}
.container {
	display:block;
	margin:auto;
}

section {
	width:100%;
}

nav {
	width:100%;
	background-color:#333333;
	border-bottom:#282828 1px solid;
	z-index:10;
}
nav ul, nav ul li {
	list-style-type: none;
}
nav li {
	display:inline;
	margin-right:15px;
}
nav li a {
	text-decoration:none;
	color:#999;
	font-size:0.9em;
	border-radius:4px;
	padding:5px 7px;
}
nav li a:hover {
	background:#111;
}


#intro {
	background-color:#333333;
	text-align:center;
	padding:100px 0 100px;
}
#intro h1 {
	font-size:4em;
	color:#0EBFE9;
	font-weight:900;
	margin-bottom:10px;
}
#intro h2 {
	font-weight:100;
	color:#fff;
	font-size:1.4em;
}
.event {
	width:100%;
	position:relative;
}
.event-info {
	float:left;
	display:inline-block;
}
.event-map {
	width:400px;
	height:230px;
	position:relative;
	display:inline-block;
	right:0;
}